<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:fragment="itemlist">
<!--    <table class="table mt-3">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Name</th>-->
<!--        <th>Price</th>-->
<!--        <th>Owner</th>-->
<!--        <th>Details</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <th:block th:each="item : ${itemList}">-->
<!--        <tr>-->
<!--            <td th:text="${item.getId()}"></td>-->
<!--            <td th:text="${item.getName()}"></td>-->
<!--            <td th:text="${item.getPrice()}"></td>-->
<!--            <td><a th:href="@{'http://wa.me/' + ${item.getOwner().getPhoneNumber()}}" th:text="${item.getOwner().getPhoneNumber()}"></a></td>-->
<!--            <td><a class="btn btn-primary" th:href="@{'/client/details/' + ${item.getId()}}">DETAILS</a></td>-->
<!--        </tr>-->
<!--      </th:block>-->
<!--      </tbody>-->
<!--    </table>-->
      <div class="col-12 mb-5" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr">
              <th:block th:each="item : ${itemList}">

                  <div class="card mt-4" style="width: 16vw;">
                      <div class="card-body">
                          <img th:src="@{'/client/viewphoto/' + ${item.getImage()}}" style="width: 100%; height: 200px" class="card-img-top" alt="...">
                          <h5 class="card-title" th:text="${item.getName()}"></h5>
                          <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${item.getPrice()}"></h6>
                          <hr>
                          <p class="card-text" th:text="${item.description}"></p>
                          <a th:href="@{'http://wa.me/' + ${item.getOwner().getPhoneNumber()}}" class="card-link">Buy</a>
                          <th:block th:if="${owner}">
                              <a th:href="@{'/item/' + ${item.getId()} + '/delete'}" class="card-link">Delete</a>
                          </th:block>
                      </div>
                  </div>
              </th:block>
      </div>
  </div>
</body>
</html>